*{

    box-sizing: border-box;
}

#app{
    position: relative;
    width: 100%;
    height: 100%;
  
}

div.content{
    position: relative;
    width: 100%;
    height: 100%;

}


div.nav-bar{
    position: relative;
    width: 100%;
    height: 60px;
    background: black;
    text-align: center;
    color: white;
    vertical-align: middle;
    font-size: 40px;

}

div.hamburger-menu{
    border-radius: 5px;
    position: absolute;
    width:31px;
    height:27px;
    background: white;
    margin-top:16.5px;
    margin-left:15px;
    cursor: pointer;
}

div.bar{
    border-radius: 5px;
    position: relative;
    width:25px;
    height:5px;
    background: rgb(37, 37, 37);
    left:3px;
    margin-top:3px;
}

div.profile{
    position: relative;
    width: 100%;
    height: 120px;

}

div.profile-picture{
    position: relative;
    width: 6.25%;
    height: 100px;
    border-style: solid;
    border-color: blue;
    top: 7px;
    left: 47%;
    border-radius: 5px
    
}

div.logout{
    position: relative;
    margin-left:46%;
    top:65%;
}
div.main-content{
    position: absolute;
    width:100%;
    height:100%;
}
div.footer{
   
    position: fixed;
    background: black;
    width:100%;
    height: 30px;
    bottom: 0;
}

ul {
    float: left;
    color:#271e1e;
    background: grey;
    border-bottom-right-radius: 5px;
}

ul, li{
    margin:0px;
    list-style-type:none;
    border: black solid 1px;
}

div.side-menu{
position: absolute;
width:100px;
height:120px;
top:60px;
left: -100px;
-webkit-transition:left .5s;
-moz-transition: left .5s;
-o-transition: left .5s;
transition: left .5s;

}
